<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="/css/polaris.css" type="text/css" rel="stylesheet">
    <link rel="icon" href="/assets/polaris.svg">
    
    <title><%= t('home_page.title', {}, lang) %></title>
    <meta name="description" content="<%= t('home_page.description', {}, lang) %>">
    <meta name="theme-color" content="#00ff80">

    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= siteURL %>">
    <meta property="og:title" content="<%= t('home_page.title', {}, lang) %>">
    <meta property="og:description" content="<%= t('home_page.description', {}, lang) %>">
    
    <meta property="og:image" content="<%= siteURL %>/assets/cheese.png">
    <meta property="og:image:width" content="1080">
    <meta property="og:image:height" content="1080">
    <meta property="og:image:type" content="image/png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= t('home_page.title', {}, lang) %>">
    <meta name="twitter:description" content="<%= t('home_page.description', {}, lang) %>">
    <meta name="twitter:image" content="<%= siteURL %>/assets/cheese.png">
</head>
<body style="height: 100vh; margin: 0; overflow: hidden; position: relative;">
    <div class="middleflex" style="flex-direction: column; width: 100%; height: 100%">
        <div class="middleflex" style="margin-bottom: 40px">
            <img style="height: 300px; margin-right: 45px; user-select: none;" src="/assets/polaris.svg" alt="Logo">
            <div>
                <h1 style="color: var(--polarisgreen); font-size: 52px"><%= t('home_page.heading', {}, lang) %></h1>
                <p style="font-size: 26px; margin-top: 0px; line-height: 45px;"><%= t('home_page.subheading', {}, lang) %></p>
                <div id="buttonList" class="centerflex spacedflex" style="margin-top: 25px; height: 50px">
                    <a style="display: none" href="/invite" tabindex="-1" target="_blank" id="addLink"> 
                        <button class="fancybutton"><%= t('home_page.add_to_discord', {}, lang) %></button> 
                    </a>
                    <a style="display: none" href="/servers" tabindex="-1" id="manageLink"> 
                        <button class="fancybutton" id="manageButton" data-login-text="<%= t('home_page.log_in', {}, lang) %>">
                            <%= t('home_page.manage_servers', {}, lang) %>
                        </button> 
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer style="position: absolute; bottom: 15px; width: 100%; text-align: center; opacity: 0.5;">
        <p style="font-size: 12px; margin: 0;">
            <%= t('home_page.credits', {}, lang) %> 
            <a target="_blank" class="canfocus" href="https://gdcolon.com" style="color: inherit; text-decoration: underline;">GD Colon</a>
        </p>
    </footer>

    <script type="text/javascript" src="/polaris.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>